{% extends "to_do_app/header.html" %}
{% block content %}

<div class="container" id="list-container1">

	<table class="table table-hover" id="maintable">
		<thead class="thead-dark">
			<th colspan=6>
				<h3 class="active_heading">Active Tasks</h3>
			</th>
		</thead>

		<tbody>
			<form>
				<tr>
					<td colspan=5>
						<input type="text" name="task" style="float: left;" class="form-control" id="add_task"
							placeholder="Enter your Task (Max. 60 characters)" maxlength="60" autofocus>
					</td>
					<td>
						<button type="submit" class="btn btn-success" id="add_task_btn"
							title="Add a New Task">Add</button>
					</td>
				</tr>
			</form>

			{% for task in tasks %}
			{% if not task.is_checked %}
            <tr class="task_{{ task.id }}">
				<td><input type="checkbox" title="Mark as Complete" class="mark_as_done"
						id="{{ task.id }}"></td>
				<td colspan="3">
					<h5 class="text-left" id="title{{ task.id }}">{{ task.task_title }}</h5>
				</td>
				<td colspan="1">
					<h6 class="text-left" id="title{{ task.update_at }}">{{ task.updated_at }}</h6>
				</td>
				<td>

					<i class="fa fa-pencil-square-o update_btns hand-pointer" title="Edit Task" style='color:#0ba8c1;'></i>
					<i class="fa fa-check update_task_btn hand-pointer" title="Update"
						style="color: rgb(16, 172, 211); display: none;"></i>
					<i class="fa fa-trash deleterow delete_existing_row hand-pointer" title="Delete Task"
						style='color:red; padding-left: 10px;'></i>
				</td>

			</tr>

			{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock content %}