{% extends "to_do_app/header.html" %}
{% load static %}
{% block content %}

<div class="container" id="list-container1">

	<table class="table mt-3" id="completed-table">
		<thead class="thead-green">
			<th colspan=4>
				<h3 class="completed_heading">Completed Tasks</h3>
			</th>
		</thead>
		<tbody>
			<tr>
				<td colspan=4>
					<button type="button" class="btn btn-danger" id="clear_all_completed_tasks"><strong>Clear All
							Completed Tasks</strong></button>
				</td>
			</tr>
			{% for task in tasks %}
			{% if task.is_checked %}
			<tr class="task_{{ task.id }}">
				<td>
					<input type="checkbox" title="Mark as Incomplete" class="form-check-input mark_as_undone"
						id="{{ task.pk }}" checked>
				</td>
				<td>
					<h4 class="text-left completed_tasks" id="title{{ task.pk }}">{{ task.task_title }}</h4>
				</td>
				<td class="button-row"></td>
			</tr>
			{% endif %}
			{% endfor %}

		</tbody>
	</table>
</div>

{% endblock content %}